<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
    </head>
    <body>
        <h1>Lecture d'un article</h1>

        <p>
            Ici nous pourrons lire l'article ayant comme slug : {{ id }}<br />
            Mais pour l'instant nous ne savons pas encore le faire, cela viendra !
        </p>
    </body>
</html>
